agm-map {
    width: 100%;
    height: 100%;
}

.center-controls {
    position: absolute;
    z-index: 9999;
    bottom: 3vh;
    width: 100%;
    text-align: center;
    ion-button {
        display: inline-block;
        margin-inline-end: -75vw;
    }
}