<agm-map (centerChange)="centerChange($event)" (mapClick)="closeWindow()" [zoomControl]="false" [streetViewControl]="false"
[clickableIcons]="false" [latitude]="mapCoordinates.lat" [longitude]="mapCoordinates.lng" [zoom]="zoom"
[styles]="isDriver ? darkMap : lightMap">
    <!-- Position Marker -->
    <agm-marker *ngIf="positionCoordinates" [latitude]="positionCoordinates.lat" [longitude]="positionCoordinates.lng" iconUrl="../../assets/img/live_location.png"></agm-marker>
    <!-- Location Input Marker -->
    <agm-marker *ngIf="showCenter" [latitude]="centerCoordinates.lat" [longitude]="centerCoordinates.lng" iconUrl="../../assets/img/pinpoint.png"></agm-marker>
    <!-- Any extra markers - pickups etc -->
    <agm-marker (markerClick)=selectMarker(infoWindow) *ngFor="let pickup of pickupLocations; trackBy: pickupLocationTracker" [latitude]="pickup.lat" [longitude]="pickup.lng" [iconUrl]="pickupUrl(pickup)">
        <agm-info-window #infoWindow>
            <h3>{{ pickup.name }}</h3>
            <!-- Show if user is rider -->
            <div *ngIf="!isDriver; else notRider">
            <p *ngIf="pickup.drivers.length === 0; else driversAvailable">There are currently no drivers who pass by this point.</p>
            <ng-template #driversAvailable>
            <b>Tap to see driver's profile: </b>
            <span *ngFor="let driver of pickup.drivers">
                <ion-chip (click)="db.getUserView(driver)" routerLink="../../members/view/">{{ driver.name }}</ion-chip>
            </span>
            </ng-template>
            <ion-button  size="small"
            *ngIf="!addedToLocation('riders', pickup); else addedRider" expand="block" (click)="addRider(pickup)">I can be picked up<br>from this location</ion-button>
            <ng-template #addedRider><ion-button size="small" expand="block" (click)="removeRider(pickup)">Added Successfully<br>As Rider</ion-button></ng-template>
            </div>
            <!-- Show if user is driver -->
            <ng-template #notRider>
            <p *ngIf="pickup.riders.length === 0; else ridersAvailable">There are currently no riders who can make it to this point.</p>
            <ng-template #ridersAvailable>
            <b>Tap to see rider's profile: </b>
            <span *ngFor="let rider of pickup.riders">
                <ion-chip (click)="db.getUserView(rider)" routerLink="../../members/view/">{{ rider.name }}</ion-chip>
            </span>
            </ng-template>
            <ion-button size="small" 
            *ngIf="!addedToLocation('drivers', pickup); else addedDriver" expand="block" (click)="addDriver(pickup)">I can pickup riders<br>from this location</ion-button>
            <ng-template #addedDriver><ion-button size="small" expand="block" (click)="removeDriver(pickup)">Added Successfully<br>As Driver</ion-button></ng-template>
            </ng-template>
        </agm-info-window>
    </agm-marker>

    

</agm-map>

<div class="center-controls">
  <!-- <ion-button size="medium" expand="block" (click)="confirmAddress()">Confirm Address</ion-button> -->
  <ion-button size="small" expand="block" (click)="mapCenter()" >
      <ion-icon name="expand"></ion-icon>
    <!-- <ion-img [src]='"./../../assets/img/map_center.png"'></ion-img> -->
    <!-- Center -->
  </ion-button>
</div>