<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #profileForm="ngForm" (submit)="updateProfile($event)">
    <ion-item>
      <ion-label for="toggle-switch" position="fixed">You are a:</ion-label>
      <toggle-switch name="isDriver" [(switchStatus)]="localCopy.isDriver" [onText]="'Driver'" [offText]="'Rider'"></toggle-switch>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-input name="status" [placeholder]="'Cool Status'" [(ngModel)]="localCopy.status" required></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <p>Your Schedule (First Class Start & Last Class End)</p>
    </div>
    <schedule-input [(schedule)]="localCopy.schedule"></schedule-input>
    <div *ngIf="localCopy.isDriver">
    <div class="ion-text-center">
      <p>Your Car Details</p>
    </div>
    <car-details-input *ngIf="localCopy.isDriver" [(car)]="localCopy.car" [required]="localCopy.isDriver"></car-details-input>
    </div>
    <ion-button expand="block" type="submit" [disabled]="profileForm.invalid || !valueChanged()">Update</ion-button>
  </form>
</ion-content>
