<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="profileForm" (submit)="updateProfile()">
    <ion-item>
      <ion-label for="toggle-switch" position="fixed">You are a:</ion-label>
      <!--TODO: Change app theme when option updates-->
      <toggle-switch name="driver" formControlName="driver" [onText]="'Driver'" [offText]="'Rider'"></toggle-switch>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-input name="status" formControlName="status"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pickup Point</ion-label>
      <agm-map [zoomControl]="false" [streetViewControl]="false" [zoom]="8">
        
      </agm-map>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="valueChanged() || profileForm.invalid">Update</ion-button>
  </form>
</ion-content>
