<ion-header>
  <ion-toolbar>
    <ion-title>FAST CarPool</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input (focusout)="mailPassed()" type="text" formControlName="email"></ion-input>
    </ion-item>
    <div [innerHTML]="error.email" class="error-message" *ngIf="!mailPassed()"></div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" formControlName="password">
        <ion-spinner style="float:right" color="primary"></ion-spinner>
      </ion-input>
    </ion-item>
    <div [innerHTML]="error.password" class="error-message" *ngIf="!passPassed()"></div>
    <ion-button type="submit" [disabled]="!loginForm.valid" expand="block">Login</ion-button>
    <ion-item>
      <p>Not registered? Create an account!</p>
    </ion-item>
  </form>
  <!-- <ion-button (click)="register()" expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button> -->
</ion-content>
