<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.db.viewUser.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img [src]="'https://ui-avatars.com/api/?name='+this.db.viewUser.name">
  </ion-avatar>
  <h3>Status: </h3>
  <ion-item>
    <p>{{this.db.viewUser.status}}</p>
  </ion-item>
  <h3>Schedule:</h3>
  <ion-item class="ion-text-center">
    <ion-row size="4">
    <ion-col size="12"><h3>Day</h3></ion-col>
      <ion-col size="12" *ngFor="let day of this.db.viewUser.schedule">{{day.name}}</ion-col>
    </ion-row>
    <ion-row size="4">
    <ion-col size="12"><h3>Arrival</h3></ion-col>
      <ion-col size="12" *ngFor="let day of this.db.viewUser.schedule">{{day.arrival}}</ion-col>
    </ion-row>
    <ion-row size="4">
    <ion-col size="12"><h3>Departure</h3></ion-col>
      <ion-col size="12" *ngFor="let day of this.db.viewUser.schedule">{{day.departure}}</ion-col>
    </ion-row>
  </ion-item>
  <div *ngIf="this.db.viewUser.isDriver">
  <h3>Car Details:</h3>
  <ion-item>
    <p>Capacity: {{db.viewUser.car.capacity}}</p>
    <p>Filled: {{db.viewUser.car.filled}}</p>
    <p>Description: {{db.viewUser.car.description}}</p>
    <p>Oneway Trip Charges: {{db.viewUser.rate.oneway}}</p>
  </ion-item>
  </div>
  <ion-button class="ion-margin-top" expand="block"
  [routerLink]="'../../messages/new'">Message For CarPool</ion-button>
</ion-content>
