<ion-header>
  <ion-toolbar>
    <!-- TODO: Chat name -->
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="'../../'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="chat">
    <div class="chat-history">
      <ul>
        <li class="clearfix" *ngFor="let message of this.chat.messages">
          <!--
            Align right class message-data on right
            Float right and other message class for message on right
            My message for message on left
          -->
          <div class="message-data" [class.align-right]="!userIsSender(message)">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >{{ getParticipant(message.sender).name }}</span>
          </div>
          <div class="message" [ngClass]="{
              'float-right': !userIsSender(message),
              'other-message': !userIsSender(message),
              'my-message': userIsSender(message)
            }">
            {{ message.content }}
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix">
      <textarea [(ngModel)]="messageText" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
      <button (click)="submit()">Send</button>
    </div> <!-- end chat-message -->
  </div>
</ion-content>
