@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/20px "Lato", Arial, sans-serif;
}

.chat {
  height: 100%;
  
  .chat-history {
    height: 90%;
    overflow-y: scroll;

    ul li {
      list-style-type: none;
    }
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    height: 10%;
    display: flex;
    align-items: center;
    background-color: var(--ion-item-background-color);
    .chat-message-input {
      border-radius: 1rem;
      width: 86%;
      margin-left: 1%;
      background-color: var(--ion-background-color);
      color: var(--ion-text-color);
      display: inline-block;
    }
    
    button {
      background: none;
      float: right;
      color: $blue;
      border: none;
      cursor: pointer;
      font-weight: bold;
      width: 13%;
      text-align: center;
      &:hover {
        color: darken($blue, 7%);
      }
      ion-icon {
        font-size: 2rem;
      }
    }
  }
}






.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
