<ion-header>
  <ion-toolbar>
    <!-- TODO: Chat name -->
    <ion-title *ngIf="chat; else chatTitle">Chat</ion-title>
    <ng-template>
    <ion-title #chatTitle>{{ chat.title }}</ion-title>
    </ng-template>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="'../../'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="chat" *ngIf="chat">
    <div #history class="chat-history" [scrollTop]="history.scrollHeight">
      <ul>
        <li #messages class="clearfix" *ngFor="let message of chat.messages; let last = last">
          <!--
            Align right class message-data on right
            Float right and other message class for message on right
            My message for message on left
          -->
          <div class="message-data" [class.align-right]="!userIsSender(message)">
              <span class="message-data-time" >{{ getTime(message) }}</span> &nbsp; &nbsp;
              <span class="message-data-name" >{{ getParticipant(message.sender).name }}</span>
          </div>
          <div class="message" [ngClass]="{
              'float-right': !userIsSender(message),
              'other-message': !userIsSender(message),
              'my-message': userIsSender(message)
            }">
            {{ message.content }}
          </div>
          <div class="message-data" [class.align-right]="!userIsSender(message)">
            <span class="message-data-sent">{{ message.status }}</span>
          </div>
        </li>
      </ul>
    </div> <!-- end chat-history -->
    
    <div class="chat-message clearfix">
      <ion-input [(ngModel)]="messageText" placeholder="Enter a message..." class="chat-message-input" type="text"></ion-input>
      <button (click)="submit()">
        <ion-icon name="send"></ion-icon>
      </button>
    </div> <!-- end chat-message -->
  </div>
</ion-content>
