<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="members/dashboard" [routerLink]="'../../dashboard'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="!this.cs.isUsable(); else foreverAlone">
    <ion-text [color]="'danger'" class="ion-text-center ion-margin">Notice: Please update your app to view your inbox.</ion-text>
  </ion-item>
  <ng-template #foreverAlone>
    <ion-item *ngIf="emptyInbox(); else inboxMessages">
      <ion-img [src]="'../../../assets/img/forever_alone.png'"></ion-img>
    </ion-item>
  </ng-template>
  <ng-template #inboxMessages>
  <ion-list>
    <ion-item *ngFor="let chat of getSortedChats()" (click)="goToChat($event)" [attr.data-chat-id]="chat.id">
      <ion-col size="8">
      <ion-label>
        <b>{{ chat.title }}</b><br>
        {{ getLastSender(chat.messages[chat.messages.length-1].sender, chat.participants) }}: {{ chat.messages[chat.messages.length-1].content }}
      </ion-label>
      </ion-col>
      <ion-col size="4">
      <ion-label style="float: right">
          <ion-col size="6">
            {{ unreadMessages() }}
          </ion-col>
          <ion-col size="6">
            {{ chat.messages[chat.messages.length-1].time | date }}
          </ion-col>
      </ion-label>
      </ion-col>
    </ion-item>
  </ion-list>
  </ng-template>
</ion-content>
