<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="foreverAlone">
    <ion-img [src]="'../../../assets/img/forever_alone.png'"></ion-img>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let chat of chats; index as i" (click)="goToChat($event)" [attr.data-index]="i">
      <h3>{{ chat.title }}</h3><br>
      <p><em>{{ inbox[i].sender }}</em>: {{ inbox[i].content }}</p>
    </ion-item>
  </ion-list>
</ion-content>
