$blue: #94C2ED;
ion-content {
    --background: var(--ion-color-light);
}
.chat-message {
    position: fixed;
    width: 100%;
    background-color: #F2F5F8;
    bottom: 0;
    textarea {
        width: 100%;
        border: none;
        padding: 0px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
    }
    button {
        float: right;
        color: $blue;
        padding-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;
        &:hover {
        color: darken($blue, 7%);
        }
    }
}