<ion-header>
  <ion-toolbar>
    <ion-title>Welcome, {{ this.user.displayName }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-text class="ion-padding ion-text-center">
      In order for you to have the best experience, we will require you to input
      some of your information below. You can change these settings after completing signing up:
    </ion-text>
  </ion-item>
  <form [formGroup]="infoForm" (ngSubmit)="createUser()">
  <!-- Driver or Rider -->
  <ion-item>
    <ion-label for="toggle-switch" position="fixed">You are a:</ion-label>
    <toggle-switch class="ion-padding" name="isDriver" [(switchStatus)]="driver"
    [onText]="'Driver'" [offText]="'Rider'"></toggle-switch>
  </ion-item>
  <!-- Address -->
  <ion-item>
    <ion-label position="floating">Your Home Address</ion-label>
    <ion-input placeholder="This will not be displayed publicly..."
    formControlName="address" name="address" (click)="showMap()"></ion-input>
  </ion-item>
  <!-- Schedule -->
  <schedule-input [(schedule)]="schedule"></schedule-input>
  <!-- Car if Driver -->
  <!-- Driver or Rider -->
  <car-details-input [(car)]="car" *ngIf="driver"></car-details-input>
  <ion-button expand="block" type="submit" [disabled]="infoForm.invalid">Submit</ion-button>
  </form>
  
</ion-content>
