<ion-header>
  <ion-toolbar>
    <ion-title>Welcome, {{ this.user.displayName }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <blockquote class="warning">
    <p class="ion-padding">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      In order for you to have the best experience, we will require some information. You can change these settings after completing signing up:
    </p>
  </blockquote>
  <form [formGroup]="infoForm" (ngSubmit)="createUser()">
  <!-- Driver or Rider -->
  <ion-item>
    <ion-label for="toggle-switch" position="fixed">You are a:</ion-label>
    <toggle-switch class="ion-padding" name="isDriver" [(switchStatus)]="driver"
    [onText]="'Driver'" [offText]="'Rider'"></toggle-switch>
  </ion-item>
  <!-- Address -->
  <ion-item>
    <ion-label position="floating">Your Home Address</ion-label>
    <ion-input placeholder="This will not be displayed publicly..."
    formControlName="address" name="address" (click)="showMap()"></ion-input>
  </ion-item>
  <!-- Schedule -->
  <schedule-input [(schedule)]="schedule"></schedule-input>
  <!-- Car if Driver -->
  <!-- Driver or Rider -->
  <car-details-input [(car)]="car" *ngIf="driver"></car-details-input>
  <!-- Email Verified -->
  <blockquote [ngClass]="user.emailVerified ? 'success' : 'danger'">
    <div *ngIf="!user.emailVerified; else verifiedText">
      <p class="ion-padding">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Please verify your email address to complete registration.
        <a (click)="resendEmailConfirmation()" *ngIf="!emailVerificationResent">Resend Email Confirmation.</a>
        <span *ngIf="emailVerificationResent">Email Confirmation Sent.</span>
      </p>
    </div>
    <ng-template #verifiedText>
      <p class="ion-padding">
        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
        Thank you for confirming your email.
      </p>
    </ng-template>
  </blockquote>
  <ion-button expand="block" type="submit" [disabled]="infoForm.invalid || !user.emailVerified">Submit</ion-button>
  </form>
  
</ion-content>
