div.error-message {
    padding-top: 0.5em;
    color: red;
    a {
        color: var(--ion-color-primary);
        text-decoration-style: none;
    }
}
.courses-options {
    ion-select:first-child {
        max-width: 100%;
        width: 65%;
    }
    ion-select:nth-child(2) {
        width: 30%;
    }
    ion-icon {
        right: 2px;
    }
}
// ion-input, ion-button {
//     position: relative;
//     ion-spinner {
//         position: absolute;
//         right: 1em;
//     }
// }