<ion-header class="invisible-toolbar">
  <ion-toolbar color="translucent">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <!-- Welcome to your Dashboard<span *ngIf="authService.user">,<br>{{ authService.user.displayName }}</span> -->
  </ion-toolbar>
</ion-header>
<ion-menu>
  <!-- TODO: Profile info <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <ion-list>
      <!-- App Pages -->
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" (click)="gotoPage(p.url)">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <!-- Logout -->
      <ion-menu-toggle (click)="logout()">
        <ion-item>
          <ion-icon slot="start" [name]="'log-out'"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content fullscreen="true">
  <ion-router-outlet main>
    <agm-map (mapClick)="close_window($event)" [zoomControl]="false" [streetViewControl]="false" [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-marker (markerClick)=select_marker(infoWindow) *ngFor="let pickup of pickups; index as i" [latitude]="pickup.lat" [longitude]="pickup.lng" [iconUrl]="pickupUrl(pickup, i)">
        <agm-info-window #infoWindow>
          <h3>{{ pickup.name }}</h3>
          <!-- Show if user is rider -->
          <div *ngIf="!db.userData.isDriver; else notRider">
          <p *ngIf="pickup.drivers.length === 0; else driversAvailable">There are currently no drivers who pass by this point.</p>
          <ng-template #driversAvailable>
            <b>Drivers: </b>
            {{ pickup.drivers.join(', ') }}
          </ng-template>
          <button expand="block" margin-top type="submit"
          *ngIf="!addedToLocation('riders', pickup); else addedRider" (click)="addRider(pickup, i)">I can be picked up from this location</button>
          <ng-template #addedRider><button (click)="removeRider(pickup, i)">Added Successfully As Rider</button></ng-template>
          </div>
          <!-- Show if user is driver -->
          <ng-template #notRider>
          <p *ngIf="pickup.riders.length === 0; else ridersAvailable">There are currently no riders who can make it to this point.</p>
          <ng-template #ridersAvailable>
            <b>Riders: </b>
            <!-- {{ pickup.riders.map(elem => return elem.name).join(', ') }} -->
          </ng-template>
          <button expand="block" margin-top type="submit"
          *ngIf="!addedToLocation('drivers', pickup); else addedDriver" (click)="addDriver(pickup, i)">I can pickup riders from this location</button>
          <ng-template #addedDriver><button (click)="removeDriver(pickup, i)">Added Successfully As Driver</button></ng-template>
          </ng-template>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </ion-router-outlet>
</ion-content>